@tailwind base;
@tailwind components;
@tailwind utilities;

@import "variables";
// @import "mixins";
@import "attricss";

.ham-button {
  color: black;
}

.home .ham-button {
  color: white;
}

/* Using imported Fonts */
.font-jakartaSans {
  font-family: var(--jakarta-Sans);
}
